<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>生鲜超市</title>
	<!--引入css-->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
 	<link rel="stylesheet" href="/css/reset.css">
 	<link rel="stylesheet" href="/css/table.css">
 	<link rel="stylesheet" href="/css/public.css">
 	<link rel="stylesheet" href="/css/btn.css">
 	<link rel="stylesheet" href="/css/floatBox.css">
 	<script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/jquery.qrcode.min.js"></script>
    <script src="/js/user.js"></script>
	<!--引入JavaScript-->
	<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

	<!--初始化代码-->
	<script>
     $(document).ready(function() {
           $('#example').DataTable({
        	     "bFilter": false, 
                 "pagingType":   "simple",
                	 "sRowSelect": "multi",
                	 bLengthChange: false,
                	 'iDisplayLength': 15,
                     'ordering':false,

           });
      });
	</script>
</head>

<body>
<div class="PublicHead">
        <!--顶部左边-->
        <div class="leftBox">
            <div class="companyText">
                    生鲜超市购物系统
            </div>
        </div>
        <!--顶部右边-->
        <div class="RightBox">
            <div class="UserPhotoBox">
                <div class="UserPic">
                    <a href="/admin/hello"><img src="/image/user.jpg" /></a>
                </div>
            </div>
            <a href="/admin/logout">
                <div class="dropOutBox">
                    <span >退出</span>
                </div>
            </a>
        </div>
    </div>

    <div class="PublicDownWhole">
        <!--内容左边-->
        <div class="leftBox Js_leftBox">
            <ul>
            	<a href="/admin/hello">
                    <li><i></i><span>新品上架</span></li>
                </a>
                <a href="/admin/showfinishorder"> 
                    <li class="Select"><i></i><span>销售报表</span></li>
                </a>
            </ul>
        </div>

        <!--内容右边-->
        <div class="RightBox Js_RightBox">
            <div class="PublicContentBox">
                <!--查询-->
                <div class="InquireBox">
                    <div class="InquireleftBox">
                    </div>
                    <div class="PublicBtnIcon Color2Btn fl Js_search">
                        <span>查询订单</span>
                     </div>
                </div>
                
				<div class = "InquireSelectTable">
					<span class="message" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></span>
					<table id="example" class="PublicTableCss" >
				           <thead>
				               <tr>
                                   <th>订单号</th>
                                   <th>客户id</th>
				                   <th>商品序号</th>
				                   <th>商品名称</th>
                                   <th>购买数量</th>
                                   <th>总价/元</th>
				               </tr>
				           </thead>
				           <tbody>
				               <tr th:each="order:${finishorders}">
                                    <form action="/admin/checkedit" method="post">
				            		<td class = "" th:text="${order.finishorderid}"></td>
                                    <td class = "" th:text="${order.userid}"></td>
				            		<td class = "" th:text="${order.productid}"></td>
				            		<td class = "" th:text="${order.name}"></td>
				            		<td class = "" th:text="${order.buynum}"></td>
                                    <td class = "" th:text="${order.allprice}"></td>
				            		</form>
				        		</tr>	
				           </tbody>
				   </table>
				   
				</div>
			</div>
		</div>
	</div>
	<!-- 主体部分结束 -->

    <form action="/admin/adminsearchfinishorder" method="post">
    <div class="PublicFloatBox searchuser">
        <div class="f_MiddleBox wid400">
            <div class="f_Head">
                <span>查询订单</span>
                <i class="Js_closeBtn iconfont icon-buoumaotubiao20 fr"></i>
            </div>
            <div class="f_content">
                <div class="f_alonediv">
                    <div class="f_alone_name">客户id:</div>
                    <div class="f_alone_input">
                        <input class="f_p_input" value="%" name="username"/>
                    </div>
                </div>
                <div class="f_alonediv">
                    <div class="f_alone_name">商品序号:</div>
                    <div class="f_two_input">
                        <input class="f_p_left_input" value="0" name = "min_id"/>
                        <span>&nbsp;&nbsp;~&nbsp;&nbsp;</span>
                        <input class="f_p_right_input" value="100000" name="max_id"/>
                    </div>
                </div>
                <div class="f_alonediv">
                    <div class="f_alone_name">商品名称:</div>
                    <div class="f_alone_input">
                        <input class="f_p_input" value="%" name="productname"/>
                    </div>
                </div>
                <div class="f_alonediv">
                    <div class="f_alone_name">总价:</div>
                    <div class="f_two_input">
                        <input class="f_p_left_input" value="0" name = "min_price"/>
                        <span>&nbsp;&nbsp;~&nbsp;&nbsp;</span>
                        <input class="f_p_right_input" value="300" name="max_price"/>
                    </div>
                </div>
                <div class="f_alonediv1">
                    <div class="f_alone_name">
                    </div>
                    <div class="f_alone_input1">
                        <div class="publicf_btn">
                            <div class="publicf_btn1 Js_closeBtn"><input type="submit" name="tijiao" value="查询" /></div>
                            <div class="publicf_btn2 fr Js_closeBtn">取消</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</body>
</html>